body
{
  font-family: "Montserrat";
}

#title
{
  background-color: #ff4c58;
  color: #fff;
}

#features
{
  padding: 7% 15%;
}

h1
{
  font-size:3rem;
  line-height:1.5;
}

h3
{
  font-size: 1.5rem;
}

p
{
  color: grey;
}

.container-fluid
{
  padding: 3% 15%;
}

.navbar
{
  padding : 0 0 4.5rem;
}

.navbar-brand
{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family:"Montserrat";
}

.Download-Button
{
  margin: 5% 3% 5% 0;
}

.title-image
{
  width: 60%;
  transform: rotate(25deg);
}

.feature-box
{
  text-align: center;
}

.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover
{
  color: #ff4c68;
}
